<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="/img/BWW_logo.png" alt="Logo Image">
    </a>
    <div class="navigation-menu-button" id="js-mobile-menu">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav role="navigation">
      <div class="nav-links-wrapper">
        <ul id="js-navigation-menu" class="navigation-menu show">
          <li class="nav-link"><a data-index="1" href="#1">Home</a></li>
          <li class="nav-link"><a data-index="2" href="#2">Video</a></li>
          <li class="nav-link"><a data-index="3" href="#3">Shows</a></li>
          <li class="nav-link"><a data-index="3" href="#3">Contact</a></li>
          <li class="nav-link"><a href="javascript:void(0)">Press</a></li>
          <li class="nav-link"><a href="javascript:void(0)">Merch</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<ul class="onepage-pagination"></ul>
