<tr class="past">
	<td>Aug 15, 2015</td>
	<td>Salt Lake City, UT</td>
	<td>Urban Lounge</td>
	<td><a href="http://www.theurbanloungeslc.com/urbanlounge/calendar/listing.html" target="_blank">Tickets</a></td>
</tr>
<tr>
	<td>Aug 15, 2015</td>
	<td>Salt Lake City, UT</td>
	<td>Urban Lounge</td>
	<td><a href="http://www.theurbanloungeslc.com/urbanlounge/calendar/listing.html" target="_blank">Tickets</a></td>
</tr>
<tr>
	<td>Aug 15, 2015</td>
	<td>Salt Lake City, UT</td>
	<td>Urban Lounge</td>
	<td></td>
</tr>
<tr>
	<td>Aug 15, 2015</td>
	<td>Salt Lake City, UT</td>
	<td>Urban Lounge</td>
	<td></td>
</tr>
<tr>
	<td>Aug 15, 2015</td>
	<td>Salt Lake City, UT</td>
	<td>Urban Lounge</td>
	<td></td>
</tr>
